<%= form_with(model: terminal, local: true) do |form| %>
  <% if terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index, id: :terminal_index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
